@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    height: 1080px;
    width: 1920px;
    margin: 0;
    /* background: url("img/renderRoom.png") center/cover no-repeat; */
}

body > img {
    height: 100%;
    width: 100%;
    position: relative;
}

#await.active {
    height: 100%;
    width: 100%;
    background: black;
    position: fixed;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    top: 0;
}
#await {
    display: none;
}

/* #compteur {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12vw;
    width: 11.5vw;
    font-size: 2vw;
    color: white;
    font-family: 'Silkscreen', sans-serif;
    position: fixed;
    top: 23.3%;
    left: 20%;
    transform: skewY(335deg) skewX(15deg) rotateZ(20deg);
    filter: blur(0.04vw);
    text-shadow: 0 0 1vw #00a6ffa3, 0 0 1.2vw #FFFFFF8a;
} */

#compteur {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 221px;
    width: 212px;
    font-size: 50px;
    color: white;
    font-family: 'Silkscreen', sans-serif;
    position: absolute;
    top: 250px;
    left: 420px;
    background: blue;
    transform: skewY(335deg) skewX(15deg) rotateZ(20deg);
    filter: blur(0.04vw);
    text-shadow: 0 0 1vw #00a6ffa3, 0 0 1.2vw #FFFFFF8a;
}

#streamOff {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 115px;
    width: 200px;
    font-size: 50px;
    color: white;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    position: absolute;
    top: 445px;
    left: 1068px;
    transform: skewY(7deg) skewX(351deg) rotateZ(356deg);
    filter: blur(0.04vw);
    text-shadow: 0 0 1vw #00a6ffa3, 0 0 1.2vw #FFFFFF8a;
}

#chat {
    display: flex;
    justify-content: start;
    align-items: end;
    height: 250px;
    width: 92px;
    position: absolute;
    top: 390px;
    left: 1347px;
    color: white;
    transform: skewY(24deg) skewX(335deg) rotateZ(342deg);
    filter: blur(0.04vw);
    text-shadow: 0 0 1vw #00a6ffa3, 0 0 1.2vw #FFFFFF8a;
    overflow: hidden;
}

#chat > #messageContainer {
    display: block;
}

#chat > #messageContainer > .message {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    animation-name: messageCome;
    animation-duration: 0.5s;
    font-size: xx-small;
}

#chat > #messageContainer > .message > .author > .badges {
    display: flex;
    margin-right: 3px;
}

#chat > #messageContainer > .message img {
    height: 7px;
    width: 7px;
}

#chat > #messageContainer > .message > .author {
    margin-right: 3px;
    display: flex;
    align-items: center;
}

@keyframes messageCome {
    from {
        margin-left: 100%;
    }
    to {
        margin-left: 0;
    }
}